<div id="post-submission" class="container">

{{postData}}

<h1>Add a comment!</h1>
<div class="mb-3">
  <label for="textContent" class="form-label">Text</label>
  <textarea class="form-control" id="textContent" rows="3"></textarea>
</div>
<button id="dashboardSubmit" type="button" class="btn btn-success">Submit</button>
</div>

{{#each comment}}
{{>allcomments}}
{{/each}}

<script src="./js/comments.js"></script>